@import "tailwindcss";

@theme inline {
    --animate-bt: bottom-top 1s ease-in-out forwards;
    --animate-tb: top-bottom 1s ease-in-out forwards;
    --animate-lr: left-right 1s ease-in-out forwards;
    --animate-rl: right-left 1s ease-in-out forwards;

    @keyframes bottom-top {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            transform: 1;
            transform: translateY(0);
        }
    }

    @keyframes top-bottom {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            transform: 1;
            transform: translateY(0);
        }
    }

    @keyframes right-left {
        from {
            opacity: 0;
            transform: translateX(20px);
        }
        to {
            transform: 1;
            transform: translateX(0);
        }
    }

    @keyframes left-right {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }
        to {
            transform: 1;
            transform: translateX(0);
        }
    }
}
